<!DOCTYPE html>
<html lang = "en">
<head>
<h1 style="color:FireBrick; font-size:320%; text-align:center;" >
<img src="https://scontent.fath6-1.fna.fbcdn.net/v/t39.30808-6/271660991_234484495526668_5650476944590745411_n.png?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hg0QyWN1uvkAX_gPJ14&tn=mjBclBdj2Hyrb2P8&_nc_ht=scontent.fath6-1.fna&oh=00_AT9LZ7VIT4ZlAT1InuYx30eOkq09HPoE0GV9G8t_AIZyVw&oe=629F4DE6" width="60" height="60">
WELCOME TO ELIDEK's DATABASE SYSTEM
<img src="https://scontent.fath6-1.fna.fbcdn.net/v/t39.30808-6/271660991_234484495526668_5650476944590745411_n.png?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hg0QyWN1uvkAX_gPJ14&tn=mjBclBdj2Hyrb2P8&_nc_ht=scontent.fath6-1.fna&oh=00_AT9LZ7VIT4ZlAT1InuYx30eOkq09HPoE0GV9G8t_AIZyVw&oe=629F4DE6" width="60" height="60"></h1>
</head>
<body style="background-color:AntiqueWhite;">


<h2 style="color:DarkRed">View 1 : Organisations' Scientific Fields :
<a href="http://localhost:3000/view_Organisations_Scientific_Fields">click here
</a>
</h2>
<h2 style="color:DarkRed">View 2 : Projects Per Researcher :
<a href="http://localhost:3000/view_Projects_Per_Researcher">click here
</a>
</h2>
<h2 style="color:DarkRed">Query 3.1 (Filtering Programs/Projects) :
<a href="http://localhost:3000/query3-1b">click here
</a>
</h2>
<h2 style="color:DarkRed">Query 3.3 (Details about scientific fields) :
<a href="http://localhost:3000/query3-3">click here
</a>
</h2>
</h2>
<h2 style="color:DarkRed">Query 3.4 (Ten plus projects starting in 2 consecutive years) :
<a href="http://localhost:3000/query3-4">click here
</a>
</h2>
<h2 style="color:DarkRed">Query 3.5 (Top 3 scientific fields' pairs) :
<a href="http://localhost:3000/query3-5">click here
</a>
</h2>
<h2 style="color:DarkRed">Query 3.6 (Best Young Researchers) :
<a href="http://localhost:3000/query3-6">click here
</a>
</h2>
<h2 style="color:DarkRed">Query 3.7 (Top 5 richest/corrupt executives) :
<a href="http://localhost:3000/query3-7">click here
</a>
</h2>
<h2 style="color:DarkRed">Query 3.8 (Working in 5+ projects without deliverables - Lazy researchers) :
<a href="http://localhost:3000/query3-8">click here
</a>
</h2>
<div class="col-md-4">
           <div class="card" id="card-container-layout">
               <div class="card-body" id="card">
                   <h2 style="color:DarkRed">Manage Researchers</h2>
                   <p class="card-text" id="paragraph">Add/Delete/Update a researcher from the database<br></p>
                   <a class="btn btn-primary" id="show-btn" href="/researchers">click here</a>
               </div>
           </div>
</div>


<div class="col-md-4">
           <div class="card" id="card-container-layout">
               <div class="card-body" id="card">
                   <h2 style="color:DarkRed">Manage Projects</h2>
                   <p class="card-text" id="paragraph">Add/Update/Delete a project into the database<br></p>
                   <a class="btn btn-primary" id="show-btn" href="/required_evaluation">click here</a>
               </div>
           </div>
</div>



<div class="col-md-4">
           <div class="card" id="card-container-layout">
               <div class="card-body" id="card">
                   <h2 style="color:DarkRed">Manage Programs</h2>
                   <p class="card-text" id="paragraph">Add/Update/Delete a program into the database<br></p>
                   <a class="btn btn-primary" id="show-btn" href="/programs">click here</a>
               </div>
           </div>
</div>




<div class="col-md-4">
           <div class="card" id="card-container-layout">
               <div class="card-body" id="card">
                   <h2 style="color:DarkRed">Manage Executives</h2>
                   <p class="card-text" id="paragraph">Add/Update/Delete an executive into the database<br></p>
                   <a class="btn btn-primary" id="show-btn" href="/executives">click here</a>
               </div>
           </div>
</div>






</body>
</html>
