<nav class="navbar navbar-light navbar-expand-md" id="nav-bar">
    <div id="navbar-div" class="container-fluid">
      <img src="https://scontent.fath6-1.fna.fbcdn.net/v/t39.30808-6/271660991_234484495526668_5650476944590745411_n.png?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hg0QyWN1uvkAX_gPJ14&tn=mjBclBdj2Hyrb2P8&_nc_ht=scontent.fath6-1.fna&oh=00_AT9LZ7VIT4ZlAT1InuYx30eOkq09HPoE0GV9G8t_AIZyVw&oe=629F4DE6" width="25" height="25">
        <a class="navbar-brand" id="nav-bar-text">{{ pageTitle }}</a>
        <a id="navbar-items" href="/">
            <i class="fa fa-home "></i> ELIDEK MAIN PAGE
        </a>
    </div>
</nav>
